@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Connector lines for bracket */
.connector-right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -2rem;
  width: 2px;
  @apply bg-gray-200;
}
